<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Music</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    {% extends "base.html" %} {% block content %}
    <h1 align="center">
        Pateiksiu pora patinkančių muzikos grupių / dainininkų (veliau turetu kiekis dideti)
    </h1>
    <br /><br /> {% for data_music_nirvana in data_9 %}
    <h2 align="center">{{ data_music_nirvana['pavadinimas'] }}</h2>
    <h3>{{ data_music_nirvana['paragrafas'] }}</h3>
    <hr />
    <p>{{ data_music_nirvana['tekstas'] }}</p>
    <hr /> {% endfor %}
    <br /><br /> {% for data_music_am_foje in data_10 %}
    <h2 align="center">{{ data_music_am_foje['pavadinimas'] }}</h2>
    <h3>{{ data_music_am_foje['paragrafas'] }}</h3>
    <hr />
    <p>{{ data_music_am_foje['tekstas'] }}</p>
    <hr /> {% endfor %}
    <br /><br /> {% for data_music_bm in data_11 %}
    <h2 align="center">{{ data_music_bm['pavadinimas'] }}</h2>
    <h3>{{ data_music_bm['paragrafas'] }}</h3>
    <hr />
    <p>{{ data_music_bm['tekstas'] }}</p>
    <hr /> {% endfor %}{% endblock %}
</body>

</html>